Language: Cpp

BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: Always
AllowShortIfStatementsOnASingleLine: Always
AllowShortLoopsOnASingleLine: true
IndentCaseLabels: false
ColumnLimit: 0
AccessModifierOffset: -4
PointerAlignment: Left
SpaceBeforeCpp11BracedList: true
AllowAllArgumentsOnNextLine: true
BinPackParameters: true
AllowShortCaseLabelsOnASingleLine: true
AlignAfterOpenBracket: false
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: true

